.vagrant*
*.pyc
gurobi.log
*output.txt
*debugFeas.txt
.idea/*
.idea
*.pyo
*checkpoint.ipynb

# Pypi files #
##############
# Egg metadata
*.egg-info
# setup.py working directory
build
# setup.py dist directory
dist

# Doc Files #
docs/_build
docs/mkdocs.yml